<%- include("partials/header") %>
<div class="form-container container">
    <h2>Registrieren</h2>
    <form action="/users/register" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required />

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required />

        <label for="password">Passwort:</label>
        <input type="password" id="password" name="password" required />

        <button type="submit">Register</button>
    </form>
</div>
<%- include("partials/footer") %>
